body {
    font-family: 'Catamaran', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

.question {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-weight: bold;
    font-size: 28px;
    margin: 25px 25px;
    padding-top: 25px;
}

.answers {
    padding: 15px;
    font-size: 18px;
    margin: 5px 5px;
}

#answer-0 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#answer-1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#answer-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#answer-3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.answer-correct {
    background-color: #1e501e;
    color: #5aaf5a
}

.answer-wrong {
    background-color: #501e1e;
    color: #af5a5a;
}

.hover:hover {
    color: #840bff;
}

.countdown {
    height: 75px;
    font-size: 20px;
    line-height: 30px;
    margin: 30px;
}

.start {
    font-weight: bold;
    padding: 15px 25px;
    font-size: 16px;
    color: #64b4fa;
    background-color: #001932;
    border: none;
}

@media screen and (max-width: 850px) {
    header>img {
        width: 750px;
    }
}

@media screen and (max-width: 600px) {
    header>img {
        width: 400px;
    }

    .content {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
    }

    .question {
        grid-column: 1 / 3;
    }
}
